html{
    font-family: Arial;
    font-size: 0.8em;
}

body{
    padding: 10px;
}

table{
    border-collapse:collapse;
    border-radius: 3px;
}

th, td{
    text-align: left;
    padding: 3px 10px 3px 10px;
    border-radius: 0px;
    border: 1px solid rgba(180,180,180,0.5)
}

th {
    background-color: rgba(200,200,200,0.5);
}

.even {
    background-color: rgba(235,235,235,0.5);
}

.odd {
    background-color: rgba(255,255,255,0.5);
}

.special {
    background-color: rgba(100,200,100,0.5);
}

select {
    border: 1px solid rgba(200,200,200,1);
    border-radius: 2px;
    font-family: Arial;
    font-size: 1em;
    background-color: rgba(200,200,200,0.5);
    margin: 0px;
    padding: 1px;
}

input {
	-moz-appearance: none;
	border: 1px solid rgba(200,200,200,1);
}

.tp{
    width:20px;
    height:20px;
}

#some-cog{
	font-size:30px;
	margin-right:5px;
}

.gly-spin {
  -webkit-animation: spin 0.13s infinite linear;
  -moz-animation: spin 0.13s infinite linear;
  -o-animation: spin 0.13s infinite linear;
  animation: spin 0.13s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
